<title>Add Course</title>
{% extends 'adminbase.html' %}
{% block content %}
<form action="{% url 'addcourse' %}" id="projectForm" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Course Title</label>
    <input type="text" name="course" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
  </div>
  <br>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
  // Add an event listener to the form submission
  document.getElementById("projectForm").addEventListener("submit", function(event) {
    // Prevent the default form submission

    // Your custom logic here, e.g., sending the form data via AJAX
    // Once the form submission is successful, show an alert
    alert("Course added successfully!");
  });
</script>
{% endblock content %}