<title> Progress</title>
{% extends 'adminbase.html' %}
{% block content %}
<center><h2 style="color:coral">Progress </h2></center>
<div class="table-responsive">
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Project</th>
        <th>User</th> 
        <th>Due Date</th>
        <th>Progress</th>
        <th>Stage </th>
        </tr>
        </thead>
        <tbody>
        {% for p in pro %}
        <tr>
        
        <td>{{ p.title }}</td>
        <td>{{ p.teamlead }}</td>
        <td>{{ p.end_date }}</td>
        <td><progress id="myProgress" value="{{p.count}}" max="100"></progress>{{p.count}}%</td>
        <td><a href="{% url 'moredetails' id=p.id%}">=></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
    <br>
   
    
    {% comment %} <script>
        updateProgressBar({{ progress_percentage }});
    </script>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ progress_percentage }}%;" aria-valuenow="{{ progress_percentage }}" aria-valuemin="0" aria-valuemax="100">
            {{ progress_percentage }}%
     </div>
    </div>
    <br>
    <script>
        function updateProgressBar(progress) {
            const progressBar = document.querySelector('.progress-bar');
            progressBar.style.width = progress + '%';
            progressBar.setAttribute('aria-valuenow', progress);
            progressBar.textContent = progress + '%';
    }
    </script>
    
    <script>
        updateProgressBar({{ progress_percentage}});
    </script> {% endcomment %}

{% endblock %}