{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top navbar-responsive">
        <a class="navbar-brand">
            <img src="kerala_bg.png" width="120" height="60" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(`current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register.html" style="color: white;">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="explore.html" style="color: white;">Explore</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gallery.html" style="color: white;">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html" style="color: white;">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html" style="color: white;">Blogs</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html" style="color: white;">Contact</a>
            </li>
          </ul>
          
        </div>
      </nav>
      <div id="first" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="cherai.jpg" alt="First slide" height="500" width="100%">
            <div class="carousel-caption" style="color: white; text-align:left"><h1>Cherai Beach</h1><br><p>A spectacular View of Kerala's Most Happening Beach</p></div>

          </div>
          <div id="second" class="carousel-item">
            <img class="d-block w-100" src="aralam.jpg" alt="Second slide" height="500" width="100%">
            <div class="carousel-caption" style="color: white; text-align:left"><h1>Aralam</h1><br><p>A Magical Blend of Flora and Fauna</p></div>

          </div>
          <div id="third" class="carousel-item">
            <img class="d-block w-100" src="kuttanadu.jpg" alt="Third slide" height="500" width="100%">
            <div class="carousel-caption" style="color: white; text-align:left"><h1>Kuttanad</h1><br><p>A spectacular View of Kerala's Agri 'culture'</p></div>

          </div>
        </div>
         <!-- Left and right controls -->
         <a class="carousel-control-prev" href="#second" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#first" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
      <div class="container">
        <h1 style="text-align: center;"> abc </h1>
      </div>
     
        <div class="card-group container">
          <div class="card">
            <img class="card-img-top" src="machattu.jpg" alt="Card image cap" height="300" width="400">
            <div class="card-body">
                <h5 class="card-title">....</h5>
                <p class="card-text">....................</p>
              
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="boating.jpg" alt="Card image cap" height="300" width="400">
            <div class="card-body">
                <h5 class="card-title">....</h5>
                <p class="card-text">....................</p>
             
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="Ayurveda-Kerala.jpg" alt="Card image cap" height="300" width="400">
            <div class="card-body">
              <h5 class="card-title">....</h5>
              <p class="card-text">....................</p>
             
            </div>
          </div>
          
         
        </div>
        <div class="container">
          <h2>Where to Stay in Kerala..?</h2>
          <p>Coconut Lagoon (High End) – For luxury along the backwaters there’s no better place than Coconut Lagoon. Owned and run by Keralan family run CGH Earth group, watch the sunset over the backwaters in this beautiful and sustainable hotel which is only accessible by boat…</p>
          <p>Ashtamudi Villas (Mid Range) – Set on the southern end of Kerala’s backwaters in Kollam, Ashtamudi Villas are owned and run by a local, who also offers trips in dug out canoes and kayaks to local villages for a more intimate experience with the backwaters. Perfect for chilling in one of their lake-side hammocks and experiencing a much less touristy side of the backwaters…</p>
          <p>Marari Beach House (Budget) – Right on Marari Beach (one of Kerala’s nicest beaches near Kochi), this simple place is clean and walking distance to the waves. Perfect for hanging by the beach for a few days!</p>
          <h2>North Kerala</h2>
          <h4>Kannur & Thottada Beach</h4>
          <p>Marari Beach House (Budget) – Right on Marari Beach (one of Kerala’s nicest beaches near Kochi), this simple place is clean and walking distance to the waves. Perfect for hanging by the beach for a few days!</p>
          <p>Kannur was our first port of call in Kerala after spending 3 weeks in beautiful Bangladesh. As our first taste of Kerala this year, Kannur did not disappoint.</p>
          <p>Northern Kerala has been off the beaten track for many visitors to Kerala, who have focused more on the central and southern parts of the state. But that may be about to change. This year, Lonely Planet has named Northern Kerala as one of Asia’s hotspots, and as a paradise for those seeking a quieter taste of Kerala. Small homestays line the palm fringed shores, with uninterrupted views out across the Arabian sea.</p>
          <div class="container">
          <img src="home1.jpg" height="400" width="100%">
        </div>
</body>
</html> {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
    <style>
      a{
          color: white;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
     .navbar{
        border-radius: 2vw;
     }
     .card{
        margin-top:5vw;
        margin-bottom:10vw;
     }
    </style>
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top navbar-responsive">
        <a class="navbar-brand">
            <img src="{% static 'img/nav.png' %}" width="120" height="60" alt="img">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link " href="">Home <span class="sr-only">(`current)</span></a>
            </li>
            <div class="col" >
                <ul class="nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for d in dep %}
                               
                                <a class="dropdown-item" href="">{{ d.dname }}</a>
                                <div class="dropdown-divider"></div>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
            <li class="nav-item">
                <a class="nav-link " href="" style="color: white;">Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="" style="color: white;">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="" style="color: white;">Logout</a>
            </li>
          </ul>
           
        </div>
      </nav>

    {% block content %}<br>
   
    <div class="text-center container py-5">    
        {% for d in dept %}
        <h4 class="mt-4 mb-5"><strong>{{ d.category_name }}</strong></h4>
    
        <div class="row">
            {% for p in doct %}
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                        data-mdb-ripple-color="light"><br>
                        <img src="{{ p.image.url }}"
                            class="w-50" alt="docimage" />
    
                        <div class="hover-overlay">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="#" class="text-reset">
                            <h5 class="card-title mb-3">{{ p.first_name }} {{ p.last_name }}</h5>
                        </a>
                        <a href="#" class="text-reset">
                            <p style="">{{ p.description }}</p>
                        </a>
                       
                        <a href="{% url 'book' p.id %}" class="btn btn-primary" >Book Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endblock content %}


    


    <footer class="bg-primary text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>About Us</h4>
                    <p>Best Seller You could find.</p>
                    <p>© pauljo <p>
                    <p>@dexter</p>
                </div>
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <p>Email: pauljo@gmail.com.com</p>
                    <p>Phone: +91 7034992353</p>
                    <p>Address: 123 Lincon Street, London, India</p>
                </div>
                <div class="col-md-4">
                    <h4>Follow Us</h4>
                    <p>Stay updated with our latest products and offers:</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
      </footer>
</body>
</html>